

/* Global ------------------------------------------------------------------ */


* {
  margin: 0;
}

.sbs {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.colum{
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex-grow: 1;
}


/* Page Header ------------------------------------------------------------- */

/* Navbar */
header .nav-container {
  padding: 20px 5vw;
}

header .logo {
  width: 50px;
}

header .title-container {
  margin-left: 20px;
}

header .title-container a {
  padding: 8px;
}

header .link-container {
  margin-left: 10px;
}

header .link-container p {
  padding: 8px;
}

/* Presentation */
header .presentation-video-container {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

header .video-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

header .presentation-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


/* Page Main --------------------------------------------------------------- */


/* Advantages Section */
#advantages .container{
  padding: 7vw 15vw;
  text-align: center;
}

#advantages .icon {
  width: 128px;
}

#advantages h3 {
  margin-top: 25px;
}

#advantages p {
  margin-top: 10px;
}

/* Portifolios Section */
#portifolios .container {
  padding: 7vw 0;
}

#portifolios ul {
  padding: 0;
}

#portifolios .slider-wrapper {
  position: relative;
  overflow: hidden;
}

#portifolios .slides-container {
  width: 70vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}
#portifolios .slides-container::-webkit-scrollbar { 
  width: 0;
  height: 0;
}

#portifolios .slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

#portifolios .slide-arrow {
  width: 2rem;
  height: 4rem;
  padding: 0;
}

#portifolios .text-container {
  margin-left: 2.5vw;
}

#portifolios .text-container p {
  margin-top: 25px;
}

#portifolios .text-container .button {
  margin-top: 25px;
  padding: 10px 22.5px;
  display: inline-block;
}

/* Prices Section */
#prices .container {
  padding: 7vw 15vw;
  text-align: center;
}

/* About Section */

/* Testimonials Section */

/* Contact Section */    


/* Page Footer ------------------------------------------------------------- */

/* Footer */


/* Privacy Policy Page ----------------------------------------------------- */

/* Main */
#privacy-policy-main .container {
  margin: 0 calc(5% + 50px + 20px + 8px);
  text-align: justify;
}

#privacy-policy-main h1 {
  margin-top: 3rem;
  font-size: 2rem;
}

#privacy-policy-main h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#privacy-policy-main p {
  margin-top: 1rem;
  font-size: 1rem;
}


/* Terms of usage Page ----------------------------------------------------- */

/* Main */
#terms-of-usage-main .container {
  margin: 0 calc(5% + 50px + 20px + 8px);
  text-align: justify;
}

#terms-of-usage-main h1 {
  margin-top: 3rem;
  font-size: 2rem;
}

#terms-of-usage-main h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

#terms-of-usage-main p {
  margin-top: 1rem;
  font-size: 1rem;
}


